
* {box-sizing: border-box;}

body {
background-color: lightgray;
}


/*navbar*/
@media all and (max-width: 600px) {
   .navbar {
     flex-wrap: wrap;
   }
   .navbar > li {
      flex: 1 1 50%;
    }
    li {
       text-align: center;
    }
  }

  @media all and (max-width: 400px) {
   .navbar > li {
     flex: 1 1 100%;
   }
   .button{
      order: 2;
   }
 }
 
.navbar{
   box-sizing: border-box;
   margin: 0;
   background-color: #24252A;
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   align-items: center;
   padding: 10px 2%;
}
.navbar{
   list-style: none;
}
.navbar li{
   display: inline-block;
   padding: 0px 10px;
}
.navbar li a:hover{
color: #0088a9;
}


li,a,button{
   font-family: fantasy;
   font-weight: 500;
   font-size: 16px;
   color: #edf0f1;
   text-decoration: none;
}
button{
   padding: 9px 25;
   background-color: rgba(0,136,169,1);
   border:none;
   border-radius: 50px;
   cursor: pointer;
   align-items: center;
}
button:hover{
   background-color: rgba(0,136,169,0.8);
}
img {
max-width: 100%;
}

/*ContactUs*/

h1, h2, strong {
   font-weight: 700;
}

.contact-form{
   max-width: 50%;
}
.btn-primary {
   background: #FFE600;
   color: #000;
   justify-self: start;
}


.contact-form{
   display: grid;
}

label {
   font-weight: 700;
}
input,
textarea {
    margin-bottom: .5em;
}

textarea {
   margin-bottom: .75em;
   padding: .4em;
   font-family: inherit;
}

/*-------------------Footer------------------*/
.footer{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
.container{
   max-width: 1170px;
   
   margin: auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
ul{
   list-style: none;
}
.footer{
   background-color: #24262b;
   padding: 70px 0;

}

.footer-col{
   width: 20%;
   padding: 0 20px;
}

.footer-col h4{
   font-size: 18px;
   color: #ffffff;
   text-transform: capitalize;
   margin-bottom: 30px;
   font-weight: 500;
   position: relative;
   
}

.footer-col h4::before{
   content: '';
   position: absolute;
   left:0;
   bottom: -10px;
   background-color: #e91e63;
   height: 2px;
   box-sizing: border-box;
   width: 50px;

}

.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}

.footer-col ul li a{
   font-size:16px;
   text-transform: capitalize;
   color: #ffffff;
   text-decoration: none;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   transition: all 0.3s ease;
}
.footer-col ul li a:hover{
   color: #ffffff;
   padding-left: 10px;

}

.footer-col .social-links a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255,255,255,0.2);
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #ffffff;
}

.footer-col .social-links a:hover{
   color: #24262b;
   background-color: #ffffff;

}
